.wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.post-card{
    border: 1px solid black;
    height: 220px;
    width: 19%;
    margin-bottom: 10px;
}